{% extends "layout.html" %}

{% block title %}
    Property Listings
{% endblock %}

{% block navbar %}
    <p id="placeholder">ROLL</p>
{% endblock %}

{% block main %}

    <div id="property-grid">
    {% for listing in listings %}
        
            <div class="property-card">
                <div class="property-name" style="background-color: {{ colors[listing['color']] }}; color: white">{{ listing['name'] }}</div>
                <div class="price-rent">PRICE ${{ listing['price'] }} &emsp; RENT ${{ listing['rent'] }}</div>
                <div class="house">
                    <table>
                        <tr>
                            <td>With 1 House&emsp;</td>
                            <td>${{ listing['rent_1h'] }}</td>
                        </tr>
                        <tr>
                            <td>With 2 House&emsp;</td>
                            <td>${{ listing['rent_2h'] }}</td>
                        </tr>
                        <tr>
                            <td>With 3 House&emsp;</td>
                            <td>${{ listing['rent_3h'] }}</td>
                        </tr>
                        <tr>
                            <td>With 4 House&emsp;</td>
                            <td>${{ listing['rent_4h'] }}</td>
                        </tr>
                        <tr>
                            <td>With Hotel&emsp;</td>
                            <td>${{ listing['rent_hotel'] }}</td>
                        </tr>
                    </table>
                </div>
                <div class="house-price">One House Cost &emsp; ${{ listing['house_price'] }}<br>
                                         Mortgage Value &emsp; ${{ listing['mortgage'] }}</div>
            </div>
    {% endfor %}
    {% for listing in white_properties %}
    
        <div class="property-card">
            <div class="property-name" style="background-color: {{ colors[listing['color']] }}; color: black">{{ listing['name'] }}</div>
            <div class="price-rent">PRICE {{ listing['price'] }}</div>
            <div class="house-white">
                {{ listing['rule'] }}
            </div>
            <div class="house-price-white">Mortgage Value &emsp; ${{ listing['mortgage'] }}</div>
        </div>

    {% endfor %}
    </div>

{% endblock %}